.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #faec25;
    border-color: none;
}
.navbar-inverse{
  border-color: #faec25;
}
.navbar-title{
  color:#d42c2c !important;
  font-size: 30px;
}
a{
  color:black !important;
  text-decoration: none;
}
footer {
    background-color: #d42c2c;
    padding: 25px;
  }
footer p{
     color:rgb(255, 255, 255);           
  }
h2{
    text-align: center;
    font-weight: bold;
  }
h3{
    text-align: center;
    font-weight: bold;
  }
p{
    font-size: 14px;
    font-weight: bold;
  }
.margin-10{
  margin-left: 10px;
}
.margin-bottom{
  margin-bottom: 25px;
}